
.vs/AdventOfCode2018/v15/.suo
.vs/AdventOfCode2018/v15/Server/sqlite3/db.lock
.vs/AdventOfCode2018/v15/Server/sqlite3/storage.ide
D1a/obj/Debug/D1a.csproj.FileListAbsolute.txt
D1a/obj/Debug/D1a.csproj.CoreCompileInputs.cache
D1a/obj/Debug/D1a.csprojResolveAssemblyReference.cache
D1a/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
D1b/obj/Debug/D1b.csproj.CoreCompileInputs.cache
D1b/obj/Debug/D1b.csproj.FileListAbsolute.txt
D1b/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
D2a/obj/Debug/D2a.csproj.CoreCompileInputs.cache
D2a/obj/Debug/D2a.csprojResolveAssemblyReference.cache
D2a/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
D2b/obj/Debug/D2b.csproj.CoreCompileInputs.cache
D2b/obj/Debug/D2b.csproj.FileListAbsolute.txt
D2a/obj/Debug/D2a.csproj.FileListAbsolute.txt
D2b/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
D3a/obj/Debug/D3a.csproj.CoreCompileInputs.cache
D3a/obj/Debug/D3a.csproj.FileListAbsolute.txt
D3a/obj/Debug/D3a.csprojResolveAssemblyReference.cache
D3a/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
D3b/obj/Debug/D3b.csproj.CoreCompileInputs.cache
D3b/obj/Debug/D3b.csproj.FileListAbsolute.txt
D3b/obj/Debug/D3b.csprojResolveAssemblyReference.cache
D3b/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
