
.vs/AdventOfCode2018/v15/.suo
.vs/AdventOfCode2018/v15/Server/sqlite3/db.lock
.vs/AdventOfCode2018/v15/Server/sqlite3/storage.ide
D1a/obj/Debug/D1a.csproj.FileListAbsolute.txt
D1a/obj/Debug/D1a.csproj.CoreCompileInputs.cache
D1a/obj/Debug/D1a.csprojResolveAssemblyReference.cache
D1a/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
D1b/obj/Debug/D1b.csproj.CoreCompileInputs.cache
D1b/obj/Debug/D1b.csproj.FileListAbsolute.txt
D1b/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
